.bulma-arrow-mixin {
    @include mixins.arrow(purple);
  }
  :root {
    --bulma-skeleton-background: var(--bulma-border);
    --bulma-skeleton-radius: var(--bulma-radius-small);
    --bulma-skeleton-block-min-height: 4.5em;
    --bulma-skeleton-lines-gap: 0.75em;
    --bulma-skeleton-line-height: 0.75em;
  }
  .bulma-delete-mixin {
            @include delete; // Assurez-vous que vous utilisez un préprocesseur comme Sass
  }
    