<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="container">
 <div class="tabs is-centered is-toggle is-toggle-rounded">
    <ul>
        <li class="is-active"><a href="">
            <span class="icon is-small">
                <i class="fas fa-image"></i>
            </span>
            <span>Images</span>
        </a></li>
        <li class="is-active"><a href="">
            <span class="icon is-small">
                <i class="fas fa-music"></i>
            </span>
            <span>Musics</span>
        </a></li>
        <li class="is-active"><a href="">
            <span class="icon is-small">
                <i class="fas fa-film"></i>
            </span>
            <span>Videos</span>
        </a></li>
        <li class="is-active"><a href="">
            <span class="icon is-small">
                <i class="far fa-file-alt"></i>
            </span>
            <span>Documents</span>
        </a></li>
    </ul>
 </div>
</div>
</body>
</html>